/* app css stylesheet */


.myGrid {
    height: 250px;
}


.selection {
    display: none;
}

p {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size:13px;
    color: #555;
}


.details {
    font-weight: bold;
}